.e10_1091 { 
	overflow:hidden;
}
.e10_1091 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1250px;
	position:absolute;
}
.e10_1092 { 
	background-image:linear-gradient(359.56deg, rgba(60, 136, 162, 0.6) 26.05%, rgba(255, 255, 255, 0.024) 47.67%), linear-gradient(1.01deg, rgba(0, 0, 0, 0.6) 21.82%, rgba(255, 255, 255, 0.06) 57.82%),url(images/rectangle_26.png);
	width:1440px;
	height:720px;
	position:absolute;
	left:0px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e10_1093 { 
	opacity:0.949999988079071;
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903 { 
	opacity:0.949999988079071;
	width:1440px;
	height:400px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2012 { 
	background-color:rgba(50.51302269101143, 151.1061269044876, 173.18750202655792, 1);
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_19_418 { 
	width:127.04594421386719px;
	height:59.335174560546875px;
	position:absolute;
	left:266px;
	top:22px;
}
.ei10_1093_19_903_12_2019 { 
	width:29.156848907470703px;
	height:27.432462692260742px;
	position:absolute;
	left:10.433441162109375px;
	top:31.9027099609375px;
}
.ei10_1093_19_903_12_2020 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:29.156848907470703px;
	height:27.432462692260742px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2021 { 
	width:36.504756927490234px;
	height:35.05451583862305px;
	position:absolute;
	left:36.2222900390625px;
	top:8.8861083984375px;
}
.ei10_1093_19_903_12_2022 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:19.187753677368164px;
	height:22.171449661254883px;
	position:absolute;
	left:-0.000011715001164702699px;
	top:12.883054733276367px;
}
.ei10_1093_19_903_12_2023 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:20.622705459594727px;
	height:20.688671112060547px;
	position:absolute;
	left:5.351534843444824px;
	top:10.092527389526367px;
}
.ei10_1093_19_903_12_2024 { 
	width:25.156225204467773px;
	height:26.561439514160156px;
	position:absolute;
	left:11.348478317260742px;
	top:0.00002559464701334946px;
}
.ei10_1093_19_903_12_2025 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:25.156225204467773px;
	height:26.561439514160156px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2026 { 
	width:55.65410232543945px;
	height:27.36212730407715px;
	position:absolute;
	left:71.391845703125px;
	top:31.559814453125px;
}
.ei10_1093_19_903_12_2027 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:25.88154411315918px;
	height:26.76444435119629px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2028 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:27.372663497924805px;
	height:27.09770965576172px;
	position:absolute;
	left:28.281448364257812px;
	top:0.2644343376159668px;
}
.ei10_1093_19_903_12_2029 { 
	width:53.99107360839844px;
	height:14.810420989990234px;
	position:absolute;
	left:71.34146118164062px;
	top:15.2772216796875px;
}
.ei10_1093_19_903_12_2030 { 
	width:10.983494758605957px;
	height:14.810420989990234px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2031 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:10.388899803161621px;
	height:14.214710235595703px;
	position:absolute;
	left:0.29676923155784607px;
	top:0.29780617356300354px;
}
.ei10_1093_19_903_12_2032 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:10.983494758605957px;
	height:14.810420989990234px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2033 { 
	width:2.6820685863494873px;
	height:13.358006477355957px;
	position:absolute;
	left:18.548398971557617px;
	top:1.1470004320144653px;
}
.ei10_1093_19_903_12_2034 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:2.0731494426727295px;
	height:12.7476224899292px;
	position:absolute;
	left:0.3042853772640228px;
	top:0.30509063601493835px;
}
.ei10_1093_19_903_12_2035 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:2.6820685863494873px;
	height:13.358006477355957px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2036 { 
	width:13.103310585021973px;
	height:9.565408706665039px;
	position:absolute;
	left:22.49083137512207px;
	top:4.939589023590088px;
}
.ei10_1093_19_903_12_2037 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:12.305816650390625px;
	height:8.954349517822266px;
	position:absolute;
	left:0.40096625685691833px;
	top:0.3057485520839691px;
}
.ei10_1093_19_903_12_2038 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:13.103310585021973px;
	height:9.565408706665039px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2039 { 
	width:7.600632667541504px;
	height:10.010313034057617px;
	position:absolute;
	left:36.41473388671875px;
	top:4.708995819091797px;
}
.ei10_1093_19_903_12_2040 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:6.991725444793701px;
	height:9.3995943069458px;
	position:absolute;
	left:0.304312527179718px;
	top:0.3049711585044861px;
}
.ei10_1093_19_903_12_2041 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:7.600632667541504px;
	height:10.010313034057617px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2042 { 
	width:7.600644588470459px;
	height:10.010313034057617px;
	position:absolute;
	left:9.148270606994629px;
	top:4.708995819091797px;
}
.ei10_1093_19_903_12_2043 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:6.992419719696045px;
	height:9.3995943069458px;
	position:absolute;
	left:0.30460888147354126px;
	top:0.3049711585044861px;
}
.ei10_1093_19_903_12_2044 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:7.600644588470459px;
	height:10.010313034057617px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2045 { 
	width:8.307564735412598px;
	height:9.725760459899902px;
	position:absolute;
	left:45.68354415893555px;
	top:4.812716484069824px;
}
.ei10_1093_19_903_12_2046 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:7.674380779266357px;
	height:9.115086555480957px;
	position:absolute;
	left:0.32840755581855774px;
	top:0.30560359358787537px;
}
.ei10_1093_19_903_12_2047 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:8.307564735412598px;
	height:9.725760459899902px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2048 { 
	width:26.631677627563477px;
	height:14.79028034210205px;
	position:absolute;
	left:42.514739990234375px;
	top:44.2056884765625px;
}
.ei10_1093_19_903_12_2049 { 
	width:8.630921363830566px;
	height:14.54326343536377px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2050 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:8.021673202514648px;
	height:13.932554244995117px;
	position:absolute;
	left:0.3042973577976227px;
	top:0.30530181527137756px;
}
.ei10_1093_19_903_12_2051 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:8.630921363830566px;
	height:14.54326343536377px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2052 { 
	width:8.004656791687012px;
	height:10.173736572265625px;
	position:absolute;
	left:8.788151741027832px;
	top:4.616543769836426px;
}
.ei10_1093_19_903_12_2053 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:7.395744323730469px;
	height:9.563365936279297px;
	position:absolute;
	left:0.30468010902404785px;
	top:0.3050389885902405px;
}
.ei10_1093_19_903_12_2054 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:8.004656791687012px;
	height:10.173736572265625px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2055 { 
	width:8.307564735412598px;
	height:9.725767135620117px;
	position:absolute;
	left:18.32414436340332px;
	top:4.679954528808594px;
}
.ei10_1093_19_903_12_2056 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:7.674498558044434px;
	height:9.115071296691895px;
	position:absolute;
	left:0.3287968635559082px;
	top:0.3060675263404846px;
}
.ei10_1093_19_903_12_2057 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:8.307564735412598px;
	height:9.725767135620117px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2058 { 
	width:45.88336944580078px;
	height:30.61708641052246px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2059 { 
	width:11.81948471069336px;
	height:12.814491271972656px;
	position:absolute;
	left:13.107161521911621px;
	top:17.802509307861328px;
}
.ei10_1093_19_903_12_2060 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:11.209355354309082px;
	height:12.203579902648926px;
	position:absolute;
	left:0.3046641945838928px;
	top:0.3054950535297394px;
}
.ei10_1093_19_903_12_2061 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:11.81948471069336px;
	height:12.814491271972656px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2062 { 
	width:9.624173164367676px;
	height:9.726790428161621px;
	position:absolute;
	left:33.891258239746094px;
	top:9.764983177185059px;
}
.ei10_1093_19_903_12_2063 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:8.940445899963379px;
	height:9.115427017211914px;
	position:absolute;
	left:0.2974320948123932px;
	top:0.30597060918807983px;
}
.ei10_1093_19_903_12_2064 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:9.624173164367676px;
	height:9.726790428161621px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2065 { 
	width:6.263073921203613px;
	height:13.812458038330078px;
	position:absolute;
	left:39.620323181152344px;
	top:-0.000027285310352453962px;
}
.ei10_1093_19_903_12_2066 { 
	width:6.263073921203613px;
	height:13.812458038330078px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2067 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:6.263073921203613px;
	height:13.812458038330078px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2068 { 
	width:13.192129135131836px;
	height:12.564408302307129px;
	position:absolute;
	left:0px;
	top:17.720701217651367px;
}
.ei10_1093_19_903_12_2069 { 
	width:13.192129135131836px;
	height:12.564408302307129px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2070 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:12.787434577941895px;
	height:12.185699462890625px;
	position:absolute;
	left:0.18508940935134888px;
	top:0.2090919315814972px;
}
.ei10_1093_19_903_12_2071 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:13.192129135131836px;
	height:12.564408302307129px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_12_2072 { 
	width:11.220403671264648px;
	height:11.184324264526367px;
	position:absolute;
	left:23.88878059387207px;
	top:14.510485649108887px;
}
.ei10_1093_19_903_12_2073 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:10.411365509033203px;
	height:10.474605560302734px;
	position:absolute;
	left:0.4247395098209381px;
	top:0.30536091327667236px;
}
.ei10_1093_19_903_12_2074 { 
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:11.220403671264648px;
	height:11.184324264526367px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_19_417 { 
	width:546px;
	height:36px;
	position:absolute;
	left:707.0459594726562px;
	top:45.335205078125px;
}
.ei10_1093_19_903_19_375 { 
	width:129px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_19_375_19_297 { 
	width:116px;
	height:36px;
	position:absolute;
	left:8px;
	top:0px;
}
.ei10_1093_19_903_19_375_19_290 { 
	width:30.000001907348633px;
	height:30.000001907348633px;
	position:absolute;
	left:-1.0000009536743164px;
	top:2.9999990463256836px;
}
.ei10_1093_19_903_19_375_19_290_19_272 { 
	transform: rotate(-90.00000250447808deg);
	width:30px;
	height:30px;
	position:absolute;
	left:0.0000013113416343912832px;
	top:30.000001907348633px;
}
.i10_1093_19_903_19_375_19_290_19_272_19_242 { 
	border:5px solid rgba(242.00000077486038, 149.00000631809235, 97.00000181794167, 1);
}
.ei10_1093_19_903_19_375_19_290_19_272_19_242 { 
	width:15px;
	height:10px;
	position:absolute;
	left:7.5px;
	top:10px;
}
.ei10_1093_19_903_19_375_12_2014 { 
	color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:88px;
	height:36px;
	position:absolute;
	left:29px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:5;
	line-height:px;
}
.ei10_1093_19_903_19_381 { 
	width:129px;
	height:36px;
	position:absolute;
	left:139px;
	top:0px;
}
.ei10_1093_19_903_19_381_19_303 { 
	width:129px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_19_381_19_303_19_297 { 
	width:116px;
	height:36px;
	position:absolute;
	left:8px;
	top:0px;
}
.ei10_1093_19_903_19_381_19_303_19_290 { 
	width:30.000001907348633px;
	height:30.000001907348633px;
	position:absolute;
	left:-1.0000009536743164px;
	top:2.9999990463256836px;
}
.ei10_1093_19_903_19_381_19_303_19_290_19_272 { 
	transform: rotate(-90.00000250447808deg);
	width:30px;
	height:30px;
	position:absolute;
	left:0.0000013113416343912832px;
	top:30.000001907348633px;
}
.i10_1093_19_903_19_381_19_303_19_290_19_272_19_242 { 
	border:5px solid rgba(242.00000077486038, 149.00000631809235, 97.00000181794167, 1);
}
.ei10_1093_19_903_19_381_19_303_19_290_19_272_19_242 { 
	width:15px;
	height:10px;
	position:absolute;
	left:7.5px;
	top:10px;
}
.ei10_1093_19_903_19_381_19_303_12_2014 { 
	color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:88px;
	height:36px;
	position:absolute;
	left:29px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:5;
	line-height:px;
}
.ei10_1093_19_903_19_387 { 
	width:129px;
	height:36px;
	position:absolute;
	left:278px;
	top:0px;
}
.ei10_1093_19_903_19_387_19_315 { 
	width:129px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_19_387_19_315_19_297 { 
	width:116px;
	height:36px;
	position:absolute;
	left:8px;
	top:0px;
}
.ei10_1093_19_903_19_387_19_315_19_290 { 
	width:30.000001907348633px;
	height:30.000001907348633px;
	position:absolute;
	left:-1.0000009536743164px;
	top:2.9999990463256836px;
}
.ei10_1093_19_903_19_387_19_315_19_290_19_272 { 
	transform: rotate(-90.00000250447808deg);
	width:30px;
	height:30px;
	position:absolute;
	left:0.0000013113416343912832px;
	top:30.000001907348633px;
}
.i10_1093_19_903_19_387_19_315_19_290_19_272_19_242 { 
	border:5px solid rgba(242.00000077486038, 149.00000631809235, 97.00000181794167, 1);
}
.ei10_1093_19_903_19_387_19_315_19_290_19_272_19_242 { 
	width:15px;
	height:10px;
	position:absolute;
	left:7.5px;
	top:10px;
}
.ei10_1093_19_903_19_387_19_315_12_2014 { 
	color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:88px;
	height:36px;
	position:absolute;
	left:29px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:5;
	line-height:px;
}
.ei10_1093_19_903_19_393 { 
	width:129px;
	height:36px;
	position:absolute;
	left:417px;
	top:0px;
}
.ei10_1093_19_903_19_393_19_321 { 
	width:129px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1093_19_903_19_393_19_321_19_297 { 
	width:116px;
	height:36px;
	position:absolute;
	left:8px;
	top:0px;
}
.ei10_1093_19_903_19_393_19_321_19_290 { 
	width:30.000001907348633px;
	height:30.000001907348633px;
	position:absolute;
	left:-1.0000009536743164px;
	top:2.9999990463256836px;
}
.ei10_1093_19_903_19_393_19_321_19_290_19_272 { 
	transform: rotate(-90.00000250447808deg);
	width:30px;
	height:30px;
	position:absolute;
	left:0.0000013113416343912832px;
	top:30.000001907348633px;
}
.i10_1093_19_903_19_393_19_321_19_290_19_272_19_242 { 
	border:5px solid rgba(242.00000077486038, 149.00000631809235, 97.00000181794167, 1);
}
.ei10_1093_19_903_19_393_19_321_19_290_19_272_19_242 { 
	width:15px;
	height:10px;
	position:absolute;
	left:7.5px;
	top:10px;
}
.ei10_1093_19_903_19_393_19_321_12_2014 { 
	color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:88px;
	height:36px;
	position:absolute;
	left:29px;
	top:0px;
	font-family:Noto Sans;
	text-align:center;
	font-size:24px;
	letter-spacing:5;
	line-height:px;
}
.e10_1094 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.5);
	width:1200px;
	height:289px;
	position:absolute;
	left:120px;
	top:383px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e10_1095 { 
	width:238px;
	height:63px;
	position:absolute;
	left:481px;
	top:18px;
}
.e10_1096 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:216px;
	height:81px;
	position:absolute;
	left:11px;
	top:-9px;
	font-family:Noto Sans;
	text-align:center;
	font-size:54px;
	letter-spacing:0;
	line-height:px;
}
.e10_1097 { 
	color:rgba(255, 255, 255, 1);
	width:1184px;
	height:180px;
	position:absolute;
	left:8px;
	top:91px;
	font-family:Noto Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e10_1098 { 
	width:120px;
	height:24px;
	position:absolute;
	left:660px;
	top:672px;
}
.e10_1099 { 
	border-radius:500px;
	background-color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:8px;
	top:0px;
}
.10_1099 { 
	border:2px solid rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
}
.e10_1100 { 
	border-radius:500px;
	width:24px;
	height:24px;
	position:absolute;
	left:48px;
	top:0px;
}
.10_1100 { 
	border:2px solid rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
}
.e10_1101 { 
	border-radius:500px;
	width:24px;
	height:24px;
	position:absolute;
	left:88px;
	top:0px;
}
.10_1101 { 
	border:2px solid rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
}
.e10_1102 { 
	width:1200px;
	height:413px;
	position:absolute;
	left:120px;
	top:736px;
}
.e10_1103 { 
	width:400px;
	height:413px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e10_1104 { 
	color:rgba(242.00000077486038, 149.00000631809235, 97.00000181794167, 1);
	width:144px;
	height:54px;
	position:absolute;
	left:128px;
	top:16px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}
.e10_1105 { 
	width:368px;
	height:308px;
	position:absolute;
	left:16px;
	top:86px;
}
.e10_1106 { 
	width:368px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.e10_1107 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1107_52_2429 { 
	background-image:url(images/Vector1.png);
	width:23px;
	height:23px;
	position:absolute;
	left:3.5px;
	top:3.5px;
}
.e10_1108 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:330px;
	height:24px;
	position:absolute;
	left:38px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e10_1109 { 
	width:368px;
	height:22px;
	position:absolute;
	left:0px;
	top:46px;
}
.e10_1110 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:-4px;
}
.ei10_1110_52_2430 { 
	background-image:url(images/Vector2.png);
	width:23px;
	height:23px;
	position:absolute;
	left:3.5px;
	top:3.5px;
}
.e10_1111 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:172px;
	height:26px;
	position:absolute;
	left:38px;
	top:-2px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e10_1112 { 
	width:368px;
	height:22px;
	position:absolute;
	left:0px;
	top:84px;
}
.e10_1113 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:-4px;
}
.ei10_1113_52_2428 { 
	background-image:url(images/Vector3.png);
	width:19px;
	height:24px;
	position:absolute;
	left:5.5px;
	top:3px;
}
.e10_1114 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:382px;
	height:22px;
	position:absolute;
	left:38px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e10_1115 { 
	width:368px;
	height:144px;
	position:absolute;
	left:0px;
	top:122px;
}
.e10_1116 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1116_103_1691 { 
	background-image:url(images/Vector4.png);
	width:22.48964500427246px;
	height:22.5px;
	position:absolute;
	left:3.7551774978637695px;
	top:3.75px;
}
.e10_1117 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:330px;
	height:144px;
	position:absolute;
	left:38px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e10_1118 { 
	width:368px;
	height:30px;
	position:absolute;
	left:0px;
	top:282px;
}
.e10_1119 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1119_54_1100 { 
	width:27px;
	height:27px;
	position:absolute;
	left:1.5px;
	top:1.5px;
}
.ei10_1119_54_1100_208_1834 { 
	background-image:url(images/Vector5.png);
	width:22.455350875854492px;
	height:22.43436622619629px;
	position:absolute;
	left:2.2948241233825684px;
	top:2.282817840576172px;
}
.e10_1120 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:100px;
	height:30px;
	position:absolute;
	left:38px;
	top:0px;
	font-family:Noto Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e10_1121 { 
	width:400px;
	height:374px;
	position:absolute;
	left:400px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e10_1122 { 
	color:rgba(242.00000077486038, 149.00000631809235, 97.00000181794167, 1);
	width:156px;
	height:54px;
	position:absolute;
	left:122px;
	top:16px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}
.e10_1123 { 
	opacity:0.8999999761581421;
	width:368px;
	height:272px;
	position:absolute;
	left:16px;
	top:86px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
	background-image:url(images/frame_44.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e10_1124 { 
	width:400px;
	height:374px;
	position:absolute;
	left:800px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e10_1125 { 
	color:rgba(242.00000077486038, 149.00000631809235, 97.00000181794167, 1);
	width:153px;
	height:54px;
	position:absolute;
	left:123.5px;
	top:16px;
	font-family:Noto Sans;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}
.e10_1126 { 
	width:376px;
	height:145px;
	position:absolute;
	left:12px;
	top:86px;
}
.e10_1127 { 
	width:180px;
	height:145px;
	position:absolute;
	left:0px;
	top:0px;
}
.e10_1128 { 
	opacity:0.8999999761581421;
	width:180px;
	height:105px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	background-image:url(images/frame_44.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e10_1129 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:180px;
	height:24px;
	position:absolute;
	left:0px;
	top:121px;
	font-family:Noto Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e10_1130 { 
	width:180px;
	height:145px;
	position:absolute;
	left:196px;
	top:0px;
}
.e10_1131 { 
	opacity:0.8999999761581421;
	width:180px;
	height:105px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	background-image:url(images/frame_44.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e10_1132 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:180px;
	height:24px;
	position:absolute;
	left:0px;
	top:121px;
	font-family:Noto Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e10_1133 { 
	width:376px;
	height:145px;
	position:absolute;
	left:12px;
	top:247px;
}
.e10_1134 {
    width: 180px;
    height: 145px;
    position: absolute;
    left: -10px;
    top: -100px;
}
.e10_1135 { 
	opacity:0.8999999761581421;
	width:180px;
	height:105px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	background-image:url(images/frame_44.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e10_1136 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:180px;
	height:24px;
	position:absolute;
	left:0px;
	top:121px;
	font-family:Noto Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e10_1137 { 
	width:180px;
	height:145px;
	position:absolute;
	left:196px;
	top:0px;
}
.e10_1138 { 
	opacity:0.8999999761581421;
	width:180px;
	height:105px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	background-image:url(images/frame_44.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e10_1139 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:180px;
	height:24px;
	position:absolute;
	left:0px;
	top:121px;
	font-family:Noto Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e10_1140 { 
	width:1440px;
	height:75px;
	position:absolute;
	left:0px;
	top:1175px;
}
.ei10_1140_10_421 { 
	background-color:rgba(125.37500202655792, 125.37500202655792, 125.37500202655792, 1);
	width:1440px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei10_1140_10_422 { 
	width:362px;
	height:15.240642547607422px;
	position:absolute;
	left:540px;
	top:37.70053482055664px;
	background-image:url(images/logo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei10_1140_10_423 { 
	color:rgba(243.31249594688416, 243.31249594688416, 243.31249594688416, 1);
	width:66px;
	height:9.625669479370117px;
	position:absolute;
	left:687px;
	top:17.647058486938477px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.map {
    width: 368px;
    height: 308px;
    position: absolute;
    left: 16px;
    top: 86px;
	background-image:url(images/Frame\ 44.png);
}
.food1 {
	position: static;
	width: 180px;
	height: 105px;
	left: 0px;
	top: 0px;
	background-image:url(images/food1.png);
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 16px 0px;
}
.food2 {
	position: static;
	width: 180px;
	height: 105px;
	left: 0px;
	top: 0px;
	background-image:url(images/food2.png);
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 16px 0px;
}
.food3 {
	position: static;
	width: 180px;
	height: 105px;
	left: 0px;
	top: 0px;
	background-image:url(images/food3.png);
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 16px 0px;
}
.food4 {
	position: static;
	width: 180px;
	height: 105px;
	left: 0px;
	top: 0px;
	background-image:url(images/food4.png);
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin: 16px 0px;
}